<%

//
// Copyright (c) 2013 Litecoin Project
//

    var software_version = "0.8.6.1";

    var _title = {
        "en" : "Litecoin - Open source P2P digital currency",
        "fr" : "Litecoin - Monnaie électronique décentralisée et open source",
        "es" : "Litecoin - La moneda electrónica",
        "pt" : "Litecoin - A moeda digital",
        "it" : "Litecoin - Valuta digitale P2P Open source",
        "de" : "Litecoin - Open Source P2P Internetwährung",
        "nl" : "Litecoin",
        "pl" : "Litecoin - Cyfrowa waluta",
        "el" : "Litecoin - Ψηφιακό Νόμισμα P2P  Ανοικτού Κώδικα",
        "ru" : "Litecoin - Электронная Валюта",
        "zh_HANS" : "Litecoin - 开源P2P电子货币",
        "zh_HANT" : " Litecoin - 開源P2P電子貨幣",
        "ja" : "Litecoin - オープンソースP2P仮想通貨",
    }

    var _copyright = {
        "en" : "Copyright &copy; 2013 Litecoin Project. All rights reserved.",
        "fr" : "Copyright &copy; 2013 Litecoin Project. Tous droits réservés.",
        "es" : "Copyright &copy; 2013 Litecoin Project. Todos los derechos reservados.",
        "pt" : "Copyright &copy; 2013 Litecoin Project. Todos os direitos reservados.",
        "zh_HANS" : "&copy; 2013 Litecoin开发者版权所有，并保留所有权利。",
        "zh_HANT" : "&copy; 2013 Litecoin开发者版权所有，并保留所有权利。",
        "it" : "Copyright &copy; 2013 Litecoin Project. Tutti i Diritti Riservati.",
        "ru" : "Все права защищены © 2009-2013 Проект Litecoin",
        "de" : "Copyright &copy; 2013 Litecoin Project. All rights reserved.",
        "nl" : "Copyright &copy; 2013 Litecoin Developers. Alle rechten voorbehouden.",
        "pl" : "Copyright &copy; 2013 Litecoin Project. Wszelkie prawa zastrzeżone.",
        "el" : "Πνευματική Ιδιοκτησία &copy; 2013 Litecoin Project. Mε την επιφύλαξη παντός δικαιώματος.",
        "ja" : "Copyright &copy; 2013 Litecoin Project. All rights reserved.",
    }

    var _download = {
        "en":"DOWNLOAD",
        "fr":"TÉLÉCHARGER",
        "es":"DESCARGAR",
        "pt":"DESCARREGAR",
        "zh_HANS":"下载",
        "zh_HANT":"下载",
        "it":"SCARICARE",
        "ru":"ЗАГРУЗИТЬ",
        "de":"DOWNLOAD",
        "nl":"DOWNLOAD",
        "pl":"POBIERZ",
        "el":"ΚΑΤΕΒΑΣΤΕ",
        "ja":"ダウンロード",
    }

    var _for_windows = {
        "en":"for Windows",
        "fr":"pour Windows",
        "es":"para Windows",
        "pt":"para Windows",
        "zh_HANS":"供Windows使用",
        "zh_HANT":"供Windows使用",
        "it":"per Windows",
        "ru":"для Windows",
        "de":"für Windows",
        "nl":"voor Windows",
        "pl":"dla systemu Windows",
        "el":"για Windows",
        "ja":"Windows ダウンロード用",
    }

    var _for_linux = {
        "en":"for GNU/Linux",
        "fr":"pour GNU/Linux",
        "es":"para GNU/Linux",
        "pt":"para GNU/Linux",
        "zh_HANS":"供GNU/Linux使用",
        "zh_HANT":"供GNU/Linux使用",
        "it":"per GNU/Linux",
        "ru":"для GNU/Linux",
        "de":"für GNU/Linux",
        "nl":"voor GNU/Linux",
        "pl":"dla systemu GNU/Linux",
        "el":"για GNU/Linux",
        "ja":"GNU/Linux ダウンロード用",
    }

    var _for_osx = {
        "en":"for Mac OS X",
        "fr":"pour Mac OS X",
        "es":"para Mac OS X",
        "pt":"para Mac OS X",
        "zh_HANS":"供Mac OS X使用",
        "zh_HANT":"供Mac OS X使用",
        "it":"per Mac OS X",
        "ru":"для Mac OS X",
        "de":"für Mac OS X",
        "nl":"voor Mac OS X",
        "pl":"dla systemu Mac OS X",
        "el":"για Mac OS X",
        "ja":"Mac OS X ダウンロード用",
    }

    var _release_notes = {
	"en":"Release Notes...",
	"pl":"Informacje o wersji..."
    }

    var _upgrade_notes = {
	"en":"Important Upgrade Notes...",
	"pl":"Uwagi o uaktualnieniu..."
    }

    var _browse_more_downloads = {
        "en":"Other downloads...",
        "fr":"Autres téléchargements...",
        "es":"Ver más descargas...",
        "pt":"Procurar mais downloads...",
        "zh_HANS":"浏览更多可下载内容……",
        "zh_HANT":"流覽更多可下載內容……",
        "it":"Sfoglia per scaricare altro...",
        "ru":"Другие загрузки...",
        "de":"Mehr downloads...",
        "nl":"Andere downloads...",
        "pl":"Inne pliki...",
        "el":"Άλλες λήψεις...",
        "ja":"続きを見る…",
    }

    //# due to change of intro text amount, we adjust features or downloads top margin
    var _downloads_margin_top = 10;
    var _features_margin_top = 60;
    if(locale == 'en' || locale == 'ru')
        _features_margin_top = 60;
    else
    if(locale == 'zh_HANS' || locale == 'zh_HANT') {
        _downloads_margin_top = 56;
        _features_margin_top = 60;
    }
    else
    if(locale == 'ja') {
        _downloads_margin_top = 56;
        _features_margin_top = 56;
    }
    else
    if(locale == 'el') {
        _downloads_margin_top = 0;
        _features_margin_top = 56;
    }

    var locale_menu = "";
    for(var code in languages) {
        var caption = languages[code];
        if(code == locale)
            locale_menu += "<span class='current'>"+caption + "</span> &nbsp;&nbsp;";
        else
        if(code == "en")
            locale_menu += "<a href='/'>"+caption+"</a> &nbsp;&nbsp;"
        else
            locale_menu += "<a href='/"+code+"'>"+caption+"</a> &nbsp;&nbsp;"
    }

    var _styles = ""
    if(locale == 'zh_HANS' || locale == 'zh_HANT') {
        _styles = ".first-column h1, .second-column h1, .third-column h1  { font-weight: normal; font-size: 24px; margin-top: 8px; margin-bottom: 30px; } ";
    } else if(locale == 'fr') {
        _styles = "#pager {  background: url(images/top_bg_extended.png) repeat-x; }";
    } else if(locale == 'ja') {
        _styles = ".first-column h1, .second-column h1, .third-column h1  { font-weight: normal; font-size: 24px; margin-top: 8px; margin-bottom: 30px; }";
    }


    _styles += "@media screen { #downloads { margin-top:"+_downloads_margin_top+"px; } }";
    _styles += "@media screen { .features-offset { margin-top:"+_features_margin_top+"px; } }";

%><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= _title[locale] || 'Litecoin' %></title>
    <meta name="description" content="Litecoin is a cryptocurrency that enables instant payments to anyone in the world and that can be efficiently mined with consumer-grade hardware." />
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css' />
    <link type="text/css" rel="stylesheet" media="screen" href="style.css" />
    <link type="text/css" rel="stylesheet" media="print" href="print.css" />
    <script type="text/javascript" src="extern/jquery.min.js"></script>
    <script type="text/javascript" src="custom.js"></script>
    <script src="extern/jquery.tipsy.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <style>#images{width:570px;}</style>
    <![endif]-->
    <style><%- _styles %></style>
</head>
<body>

<div id="preload-images" style="display: none;">
    <img src="images/litecoin-logo-192.png" width="1" height="1" alt="Main" />
    <img src="images/linux-main.png" width="1" height="1" alt="Main" />
    <img src="images/linux-send.png" width="1" height="1" alt="Send" />
    <img src="images/linux-receive.png" width="1" height="1" alt="Receive" />
    <img src="images/linux-transactions.png" width="1" height="1" alt="Transactions" />
    <img src="images/tooltip.png" width="1" height="1" alt="tooltip" />
</div>

<div id="pager">
    <div id="header" style='overflow:visible;'>
        <div id="language"><%- locale_menu %></div>
        <div class="alignleft"><img src="images/litecoin-logo-192.png" class="logo" alt="Litecoin Logo"/></div>
        <div class="alignright" style='margin-top:8px;'>
            <a id='gplus-image' href="https://plus.google.com/104307324656397909502/posts" target="_blank"><img class='pulse' src="images/google-40px.png" onmouseover="this.src='images/google-over-40px.png'" onmouseout="this.src='images/google-40px.png'" title="Google Plus" height="40" width="40" alt="Google Plus"/></a>
            <a id='twitter-image' href="http://twitter.com/litecoinproject" target="_blank"><img class='pulse' src="images/twitter-over-40px.png" xonmouseover="this.src='images/twitter-over-40px.png'" xonmouseout="this.src='images/twitter-40px.png'" title="Litecoin Twitters" height="40" width="40" alt="Twitter"/></a>
            <a href="https://litecointalk.org" target="_blank"><img class='pulse hint' src="images/forum-40px.png" onmouseover="this.src='images/forum-over-40px.png'" onmouseout="this.src='images/forum-40px.png'" title="LitecoinTalk Forum" height="40" width="40" alt="Forum Thread"/></a>
         </div>
         <div id='gplus-wrapper'>
            <div id='litecoin-gplus' style='visibility:hidden;opacity:0;'>
                <div class="g-page litecoin-gplus" data-href="https://plus.google.com/104307324656397909502" data-rel="publisher"></div>
            </div>
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/platform.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
         </div>
        <div id='twitter-wrapper'>
            <div id='litecoin-twitter' style='visibility:hidden;opacity:0;'>
                <!-- @litecoin is out since it tweets media content, while for litecoin project neutrality is one of the main goals.
                <div class='twitter-instance'>
                    <a class="twitter-timeline" href="https://twitter.com/litecoin" data-widget-id="407260620635918336">Tweets by @litecoin</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
                -->
                <div class='twitter-instance'>
                    <a class="twitter-timeline" href="https://twitter.com/LitecoinProject" data-widget-id="407121171159592960">Tweets by @LitecoinProject</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
                <div class='twitter-instance'>
                    <a class="twitter-timeline" href="https://twitter.com/LitecoinAssoc" data-widget-id="407121640963588096">Tweets by @LitecoinAssoc</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>                
                </div>
            </div>
        </div>
    </div>
    
    <div class="wrapper">
        <div id="right">
            <div id="intro">
                <% if(locale == 'en') { %>
                    <h1>What is Litecoin?</h1>
                    <h2>
                        Litecoin is a peer-to-peer Internet currency that enables instant payments to anyone in the world. It is based on the Bitcoin protocol but differs from Bitcoin in that it can be efficiently mined with consumer-grade hardware. Litecoin provides faster transaction confirmations (2.5 minutes on average) and uses a memory-hard, scrypt-based mining proof-of-work algorithm to target the regular computers and GPUs most people already have. The Litecoin network is scheduled to produce 84 million currency units.
                        <p/>
                        One of the aims of Litecoin was to provide a mining algorithm that could run at the same time, on the same hardware used to mine bitcoins. With the rise of specialized ASICs for Bitcoin, Litecoin continues to satisfy these goals. It is unlikely for ASIC mining to be developed for Litecoin until the currency is widely used.
                    </h2>
                <% } else if (locale == 'fr') { %>
                    <h1>Litecoin, c'est quoi ?</h1>
                    <h2>
                        Litecoin est une monnaie électronique qui permet des paiements instantanés à n'importe quelle personne dans le monde. Litecoin est basé sur le protocole Bitcoin mais diffère de Bitcoin par l'équipement nécessaire à son minage: le minage est rentable même du matériel informatique standard et non spécialisé. Litecoin offre des confirmations de transactions plus rapides (2,5 minutes en moyenne) et repose sur un algorithme de minage et de vérification basé sur scrypt et coûteux en ressources mémoire, rendant ainsi Litecoin intéressant à miner avec les ordinateurs et GPUs standards dont disposent la plupart des personnes. Litecoin est construit tel que tout le réseau produise près de 84 millions de litecoin.
                        <p/>
                        L'un des objectifs de Litecoin est d'offrir un algorithme de minage qui peut s'exécuter en même temps et sur les mêmes machines utilisées pour miner des bitcoins. Avec l'arrivée des ASICs pour Bitcoin, Litecoin satisfait toujours ces objectifs.
                        <p/>
                        Il est peu probable que le minage par ASIC domine l'activité du réseau Litecoin, du moins pas avant que la monnaie ne deviennent largement adoptée.
                    </h2>
                <% } else if (locale == 'es') { %>
                    <h1>¿Qué es Litecoin?</h1>
                    <h2>
                        Litecoin es una moneda electrónica sustentada por la red P2P que permite la realización de pagos de manera instantánea a cualquier parte del mundo. Esta moneda está basada en el protocolo Bitcoin, pero difiere de éste ya que puede ser extraída con hardware para el consumidor. Litecoin brinda confirmaciones de transacciones de manera rápida (2,5 minutos en promedio) y utiliza un algoritmo con prueba de trabajo de minería basado en scrypt, para ser orientado a las CPU y GPU (computadoras regulares) que poseen la mayor parte de las personas. La red Litecoin está programada para producir 84 millones de unidades monetarias.
                        <p/>
                        Uno de los objetivos de Litecoin era proporcionar un algoritmo de minería que pudiera funcionar al mismo tiempo y en el mismo hardware utilizado para la minería de bitcoins. Con el aumento de ASICs especializados para Bitcoin, Litecoin continúa satisfaciendo estos objetivos. No es probable que la minería FPGA o ASIC pueda ser desarrollada para Litecoin hasta que la moneda sea ampliamente utilizada.
                    </h2>
                <% } else if (locale == 'pt') { %>
                    <h1>O que é Litecoin?</h1>
                    <h2>
                        Litecoin é uma moeda digital sustentada na rede peer-to-peer que permite a realização de pagamentos instantâneos para qualquer pessoa no mundo. Esta moeda está baseada no protocolo Bitcoin, mas difere dele em que pode ser extraída de forma eficiente com hardware para o consumidor. Litecoin fornece transações mais rápidas (média de 2,5) e utiliza um algoritmo de prova de trabalho de mineração e de memoria dura, baseado em scrypt, dirigido para computadores regulares e GPUs que possuem a maioria das pessoas. A rede Litecoin é projetada para produzir 84 milhões de unidades monetárias.
                        <p/>
                        Um dos objetivos da Litecoin era fornecer um algoritmo de mineração que fosse executado ao mesmo tempo e no mesmo hardware usado para minerar bitcoins. Com o acréscimo dos ASICs especializados para Bitcoin, Litecoin continua satisfazendo estes objetivos. É improvável para a mineração de FPGA ou ASIC serem desenvolvidas para Litecoin, até que a moeda for amplamente utilizada.
                    </h2>
                <% } else if (locale == 'zh_HANS') { %>
                    <h1>什么是Litecoin？</h1>
                    <h2>
                        Litecoin(中文译名：莱特币)是一种基于“点对点”(peer-to-peer)技术的网络货币，它可以帮助您即时付款给世界上任何一个人。它基于比特币(Bitcoin)协议，但不同于比特币的地方在于，通过消费级的硬件也可以高效地“挖矿”。Litecoin提供给您更快速的交易确认（平均2.5分钟），它使用硬内存以及基于scrypt(一种加密算法)的挖矿工作量证明算法，面向大多数人使用的普通计算机及图形处理器(GPU)。Litecoin网络预期将生产8400万个货币单位。
                        <p/>
                        Litecoin的设计目的之一是提供一种挖掘算法，使它能够在挖掘比特币的机器上被同时运行。为挖掘比特币而设计的专用集成电路(ASIC)逐渐兴起的同时，Litecoin也紧跟着技术演变。但在Litecoin货币被广泛应用之前，不太可能会出现专门为Litecoin设计的专用集成电路(ASIC)。
                    </h2>
                <% } else if (locale == 'zh_HANT') { %>
                    <h1>什麼是Litecoin？</h1>
                    <h2>
                        Litecoin（中文译名：莱特币）是一種基於“點對點”(peer-to-peer)技術的網路貨幣，它可以説明您即時付款給世界上任何一個人。它基於比特幣(Bitcoin)協議，但不同於比特幣的地方在於，通過消費級的硬體也可以高效地“挖礦”。Litecoin提供給您更快速的交易確認（平均2.5分鐘），它使用硬記憶體以及基於scrypt(一種加密演算法)的挖礦工作量證明演算法，面向大多數人使用的普通電腦及圖形處理器(GPU)。Litecoin網路預期將生產8400萬個貨幣單位。
                        <p/>
                        Litecoin的設計目的之一是提供一種挖掘演算法，使它能夠在挖掘比特幣的機器上被同時運行。為挖掘比特幣而設計的專用積體電路(ASIC)逐漸興起的同時，Litecoin也緊跟著技術演變。但在Litecoin貨幣被廣泛應用之前，不太可能會出現專門為Litecoin設計的專用積體電路(ASIC)。
                    </h2>
                <% } else if (locale == 'it') { %>
                    <h1>Che cos’è Litecoin?</h1>
                    <h2>
                        Litecoin è una valuta elettronica basata su una rete P2P, la quale permette pagamenti istantanei a qualsiasi persona nel mondo. Litecoin si basa sul protocollo Bitcoin ma ne differisce, in quanto il mining può essere eseguito con una certa efficienza anche con l'hardware in possesso del normale consumatore. Litecoin garantisce conferme delle transazioni più veloci (2,5 minuti in media) e adopera un algoritmo di mining basato su <em>scrypt</em>, in modo da avere come target i normali computer e le GPU più diffuse. La rete Litecoin è programmata per produrre 84 milioni di unità monetarie.
                        <p/>
                        Uno degli scopi originari di Litecoin era di fornire un algoritmo di mining che potesse essere eseguito in contemporanea sullo stesso hardware adoperato per il mining di bitcoin. Con lo sviluppo di circuiti ASIC specializzati per Bitcoin, Litecoin continua a soddisfare questi obiettivi. Appare improbabile che il mining attraverso ASIC venga sviluppato per Litecoin finché la valuta non sarà ampiamente diffusa.
                    </h2>
                <% } else if (locale == 'ru') { %>
                    <h1>Что такое Litecoin?</h1>
                    <h2>
                        Litecoin это пиринговая электронная валюта и одновременно платежная система, позволяющая производить быстрые платежи по всему миру.
                        <p/>
                        Алгоритм, лежащий в основе Litecoin, аналогичен алгоритму самой известной пиринговой валюты Bitcoin.

                        Главное отличие состоит в том, что при вычислениях алгоритма Litecoin интенсивно используется оперативная память. Это делает проблематичной разработку  специализированных процессоров (ASIC) для Litecoin и дает возможность эффективно использовать обычные компьютеры c графическими процессорами  для генерации новых блоков (майнинга).

                        Кроме этого,  промежуток времени, требующийся для подтвеждения платежа, у Litecoin в четыре раза короче (в среднем 2.5 минуты), чем у Bitcoin. Максимально возможное количество монет Litecoin - 84 миллиона, что в четыре раза больше чем количество монет Bitcoin.
                    </h2>
                <% } else if (locale == 'de') { %>
                    <h1>Was genau ist Litecoin?</h1> 
                    <h2> 
                        Litecoin ist eine Peer-To-Peer Internetwährung, die es ermöglicht, weltweit Zahlungen zu tätigen. Es ist an das Bitcoin-Protokoll angelehnt, unterscheidet sich jedoch von Bitcoins in der Hinsicht, dass das Mining effizienter ist und dadurch mit normalen Computern durchgeführt werden kann. Litecoins Transaktionsbestätigungen sind schneller (~2,5 Minuten) und es ist durch die Verwendung von scrypt-basierenden Proof-of-Work (POW) Algorithmen auf gängige Computer und GPUs optimiert. Geplant ist unter Litecoin 84 Millionen Währungseinheiten zu produzieren. 
                        <p/>
                        Eines der Ziele von Litecoin ist es, Mining-Algorithmen zur Verfügung zu stellen, die zur selben Zeit und auf derselben Hardware laufen können, die auch zum minen von Bitcoins verwendet wird. Während für das Mining von Bitcoins immer häufiger hochspezialisierte ASICs verwendet werden, erfüllen Litecoins weiterhin diesen Anspruch. Dass ASIC Mining für Litecoin entwickelt wird ist eher unwahrscheinlich solange die Währung nicht weiter verbreitet ist.
                    </h2> 
                <% } else if (locale == 'nl') { %>
                    <h1>Wat is Litecoin?</h1> 
                    <h2> 
                        Litecoin is een peer-to-peer Internet valuta die toestaat om ogenblikkelijke betalingen te doen naar gelijk wie ter wereld. Het is gebaseerd op het Bitcoin protocol maar verschilt van Bitcoin  doordat het efficiënt gemined kan worden met hardware die voor een doorsnee consument beschikbaar is. Litecoin zorgt voor snellere bevestigingen van transacties (gemiddeld 2,5 minuten) en gebruikt een geheugenintensief, op scrypt-gebaseerde mining proof-of-work algoritme gericht op normale computers en GPU’s die de meeste mensen al bezitten. Het is gepland dat het Litecoin netwerk 84 miljoen valutaeenheden zal produceren.
                        <p/>
                        Een van de doelen van Litecoin was om een mining algoritme te leveren dat op hetzelfde moment kan draaien, op dezelfde hardware die gebruikt wordt om bitcoins te minen. Met de opkomst van gespecialiseerde ASICs voor Bitcoin, blijft Litecoin voldoen aan deze doelstellingen. Het is onwaarschijnlijk dat ASIC mining ontwikkeld zal worden voor Litecoin alvorens de valuta op grote schaal gebruikt wordt.
                    </h2> 
					<% } else if (locale == 'pl') { %>
                    <h1>Czym jest Litecoin?</h1>
                    <h2>
                        Litecoin to internetowa waluta peer-to-peer umożliwiająca każdemu na świecie dokonywanie błyskawicznych transakcji. Litecoin zapewnia potwierdzenie transakcji w ciągu średnio 2,5 minuty. Jest oparty na tym samym protokole co Bitcoin, z tą różnicą że może być wydobywana efektywnie z użyciem domowego sprzętu. Używa złożonego pamięciowo algorytmu w celu udowodnienia pracy GPU lub CPU, posiadanego przez większość osób. Sieć Litecoin jest zapro­gra­mo­wana by wygenerować 84 miliony jednostek waluty.
                        <p/>
						Jednym z celów Litecoin jest dostarczenie algorytmu mogącego działać równocześnie na sprzęcie używanym do wydobywania Bitcoinów. Wraz z powstaniem wyspecjalizowanych układów ASIC Litecoin nadal spełnia te założenia. Zbudowanie ASIC wydobywających Litecoiny zanim waluta będzie powszechnie stosowana jest bardzo mało prawdopodobne.
                    </h2>
                <% } else if(locale == 'el') { %>
                    <h1> Τί είναι το Litecoin;</h1>
                    <h2>
                        Το Litecoin είναι ένα P2P (peer-to-peer) διαδικτυακό νόμισμα το οποίο επιτρέπει στιγμιαίες συναλλαγές προς οποιονδήποτε σε όλο τον κόσμο. Βασίζεται στο πρωτόκολλο του Bitcoin, αλλά διαφέρει από το Bitcoin στο γεγονός ότι μπορεί να εξορυχθεί αποδοτικά με μη εξεζητημένο υλικό - hardware. Το Litecoin παρέχει επίσης γρηγορότερες επιβεβαιώσεις συναλλαγών (με μέσο όρο τα 2.5 λεπτά), βασίζεται στον απαιτητικό σε μνήμη scrypt αλγόριθμο εξόρυξης (για proof-of-work) και στοχεύει σε υπολογιστές και κάρτες γραφικών που διαθέτουν οι περισσότεροι άνθρωποι. Το δίκτυο του Litecoin έχει προγραμματιστεί ώστε να παράγει 84 εκατομμύρια νομίσματα.
                        <p/>
                        Ένας από τους στόχους του Litecoin ήταν το να παρέχει έναν αλγόριθμο εξόρυξης που θα μπορούσε να εκτελεστεί ταυτόχρονα, με το ίδιο hardware που χρησιμοποιούνταν για την παραγωγή bitcoins. Με την δημιουργία εξεζητημένων ASICs για το Bitcoin, το Litecoin εξακολουθεί να ικανοποιεί αυτόν τον στόχο. Είναι απίθανο να αναπτυχθούν μηχανήματα ASIC για το Litecoin έως ότου επεκταθεί περαιτέρω η χρήση του.
                    </h2> 
                <% } else if (locale == 'ja') { %>
                    <h1>Litecoinとは？</h1>
                    <h2>
                        Litecoinは、世界中の誰に対してもすぐに支払えるP2Pの仮想通貨です。Bitcoinプロトコルに基づいていますが、一般のハードウェアを用いて効率的にデータマイニングできるという点でBitcoinと異なります。Litecoinは素早い取引認証（平均2分半）を実現し、多くの人が所有している一般コンピュータとGPUをターゲットにするメモリーハード、scryptベースのマイニングProof-of-Work アルゴリズムを採用しています。今後、Litecoinネットワークは840万まで通貨単位を生成する予定です。
                        <p/>
                        Litecoinの目的は、Bitcoinのマイニングに使用する同じハードウェアで、同時に実行できるマイニングアルゴリズムを提供することです。Bitcoinに特化したASICが増えれば、Litcoinも目標達成に近づいていきます。ASICマイニングがLitecoinによって発展するようになるのは、Litecoinが広く流通してからになるでしょう。
                    </h2>
                <% } else if (locale == '') { %>
                    <h1></h1>
                    <h2>
                    </h2>
                <% } %>
            </div>
            <div id="downloads" class="downloads-offset">

                <div class="download">
                    <a class="download-link" href="https://download.litecoin.org/litecoin-<%= software_version %>/win32/litecoin-<%= software_version %>-win32-setup.exe"><span class="download-icon"><img src="images/icons/windows.png" alt=""/></span><span class="arrow-down"><img src="images/arrow-down.png" alt=""/></span><%= _download[locale] %><br/>Litecoin-Qt <%= software_version %><br/><%= _for_windows[locale] %></a>
                    <a class="GPG" href="https://download.litecoin.org/litecoin-<%= software_version %>/win32/litecoin-<%= software_version %>-win32-setup.exe.asc"><div class="GPG-text">GPG Signature</div></a>
                </div>

                <div class="download">
                    <a class="download-link" href="https://download.litecoin.org/litecoin-<%= software_version %>/linux/litecoin-<%= software_version %>-linux.tar.xz"><span class="download-icon"><img src="images/icons/linux.png" alt="" style="margin-top:-1px;"/></span><span class="arrow-down"><img src="images/arrow-down.png" alt=""/></span><%= _download[locale] %><br/>Litecoin-Qt <%= software_version %><br/><%= _for_linux[locale] %></a>
                    <a class="GPG" href="https://download.litecoin.org/litecoin-<%= software_version %>/linux/litecoin-<%= software_version %>-linux.tar.xz.asc"><div class="GPG-text">GPG Signature</div></a>
                </div>
                
                <div class="download">
                    <a class="download-link" href="https://download.litecoin.org/litecoin-<%= software_version %>/macosx/Litecoin-Qt-<%= software_version %>.dmg"><span class="download-icon"><img src="images/icons/apple.png" alt="" style="margin-top:-3px;"/></span><span class="arrow-down"><img src="images/arrow-down.png" alt=""/></span><%= _download[locale] %><br/>Litecoin-Qt <%= software_version %><br/><%= _for_osx[locale] %></a>
                    <a class="GPG" href="https://download.litecoin.org/litecoin-<%= software_version %>/macosx/Litecoin-Qt-<%= software_version %>.dmg.asc"><div class="GPG-text">GPG Signature</div></a>
                </div>

                <div class="download github">
                    <a class="download-link" href="https://github.com/litecoin-project" target="_blank"><span class="download-icon"><img src="images/icons/github.png" alt=""/></span>
                        <% if(locale == 'en') { %>
                            Litecoin-Qt source code on GitHub
                        <% } else if(locale == 'fr') { %>
                            Code source de Litecoin-Qt sur GitHub
                        <% } else if(locale == 'es') { %>
                            Los códigos fuente disponibles en GitHub
                        <% } else if(locale == 'pt') { %>
                            Os códigos fonte disponíveis em GitHub
                        <% } else if(locale == 'zh_HANS') { %>
                            登录GitHub，获取Litecoin的源代码及相关项目。
                        <% } else if(locale == 'zh_HANT') { %>
                            登录GitHub，获取Litecoin的源代码及相关项目。
                        <% } else if(locale == 'it') { %>
                            Il codice sorgente di Litecoin-QT su GitHub
                        <% } else if(locale == 'ru') { %>
                            Исходный код Litecoin-Qt на GitHub
                        <% } else if(locale == 'de') { %>
                            Litecoin-Qt source code on GitHub            
                        <% } else if(locale == 'nl') { %>
                            Litecoin-Qt broncode voor GitHub       
                        <% } else if(locale == 'pl') { %>
                            Kod źródłowy Litecoin-Qt w&nbsp;serwisie GitHub
                        <% } else if(locale == 'el') { %>
                            Litecoin-Qt πηγαίος κώδικας στο GitHub
                        <% } else if(locale == 'ja') { %>
                            GitHubでのLitecoin-Qtソースコード
                        <% } else if(locale == '') { %>
                            Litecoin-Qt source code on GitHub
                        <% } %>
                    </a>
                    <a class="GPG" href="http://pgp.mit.edu:11371/pks/lookup?op=vindex&search=0xC37E4723969276F5" target="_blank"><div class="GPG-text">GPG Public Key</div></a>
                </div>
                
                <% if(0) { %>
                    <a class="download" href="https://github.com/downloads/litecoin-project/litecoin/electrum-litecoin-0.61-macosx.zip"><span class="download-icon"><img src="images/icons/electrum.png" alt=""/></span><span class="arrow-down"><img src="images/arrow-down.png" alt=""/></span><%= _download[locale] %><br/>Litecoin Electrum 0.61<br/><%= _for_osx[locale] %></a>
                <% } %>

                <% if(0) { %>
                    <p style="text-align:center;clear:both;">
                        <a href="https://github.com/litecoin-project/litecoin/downloads" target="_blank"><%= _browse_more_downloads[locale] %></a>
                    </p>
                <% } %>

                <% if(1) { %>
                    <p style="text-align:center;clear:both;">
                        <a href="http://blog.litecoin.org/2013/12/litecoin-086-release-notes.html" target="_blank"><%= (_release_notes[locale] || _release_notes['en']) %></a>
                        <a href="https://litecoin.info/Upgrading_Litecoin#Upgrading_to_0.8.6.1" target="_blank"><%= (_upgrade_notes[locale] || _upgrade_notes['en']) %></a>
                    </p>
                <% } %>


            </div>

            <div class="features features-offset">
                <div class="first-column">
                    <span class="icon"><img src="images/icons/community.png" alt=""/></span>
                    <% if(locale == 'en') { %>
                        <h1>Community</h1>
                        <h2>Find support across a growing number of Litecoin communities:
                            <ul>
                                <li><a href="https://litecointalk.org/" target="_blank">Litecoin Forums</a></li>
                                <li><a href="http://www.reddit.com/r/litecoin" target="_blank">Reddit Litecoin</a></li>
                                <li><a href="https://twitter.com/search?q=litecoin%20-bitcoin&src=typd" target="_blank">Search for Users on Twitter<a/></li>
                                <li>IRC FreeNode network channels <a href="http://webchat.freenode.net/?channels=litecoin" target="_blank" rel="nofollow">#litecoin</a> (for general users) and <a href="http://webchat.freenode.net/?channels=litecoin-dev" target="_blank" rel="nofollow">#litecoin-dev</a> (for developers).</li>
                            </ul>
                        </h2>
                    <% } else if(locale == 'fr') { %>
                        <h1>Communauté</h1>
                        <h2>Il y a plusieurs communautés Litecoin grandissantes où vous pouvez trouver de l'aide. Vous pouvez visiter:
                            <ul>
                                <li><a href="https://litecointalk.org/" target="_blank">Les Forums Litecoin</a></li>
                                <li><a href="http://www.reddit.com/r/litecoin" target="_blank">La Communauté Litecoin de Reddit</a></li>
                                <li><a href="https://twitter.com/search?q=litecoin%20-bitcoin&src=typd" target="_blank">Chercher des Utilisateurs sur Twitter</a></li>
                                <li>Rejoindre sur le réseau <a href="http://freenode.net/" target="_blank" rel="nofollow">IRC de Freenode</a> sur les canaux <a href="http://webchat.freenode.net/?channels=litecoin" target="_blank" rel="nofollow">#litecoin</a> (pour tous les utilisateurs) et <a href="http://webchat.freenode.net/?channels=litecoin-dev" target="_blank" rel="nofollow">#litecoin-dev</a> (pour les développeurs)</li>
                            </ul>
                        </h2>
                    <% } else if(locale == 'es') { %>
                        <h1>Comunidad</h1>
                        <h2>Existe una cantidad creciente de comunidades Litecoin donde es posible encontrar soporte. Usted puede hacerlo visitando:
                            <ul>
                                <li><a href="https://litecointalk.org/" target="_blank">Foros Litecoin</a></li>
                                <li><a href="http://www.reddit.com/r/litecoin" target="_blank">Comunidad Reddit de Litecoin</a></li>
                                <li><a href="https://twitter.com/search?q=litecoin%20-bitcoin&src=typd" target="_blank">Búsqueda de Usuarios en Twitter<a/></li>
                                
                                <li>Regístrese en los canales de la red <a href="http://freenode.net/" target="_blank" rel="nofollow">IRC FreeNode:</a> <a href="http://webchat.freenode.net/?channels=litecoin" target="_blank" rel="nofollow">#litecoin</a> (para los usuarios en general) y <a href="http://webchat.freenode.net/?channels=litecoin-dev" target="_blank" rel="nofollow">#litecoin-dev</a> (para desarrolladores).</li>
                            </ul>
                        </h2>
                    <% } else if(locale == 'pt') { %>
                        <h1>Comunidade</h1>
                        <h2>Existe um número crescente de comunidades Litecoin onde você pode encontrar suporte. Você pode visitar:
                            <ul>
                                <li><a href="https://litecointalk.org/" target="_blank">Fóruns Litecoin</a></li>
                                <li><a href="http://www.reddit.com/r/litecoin" target="_blank">Comunidade Reddit de Litecoin</a></li>
                                <li><a href="https://twitter.com/search?q=litecoin%20-bitcoin&src=typd" target="_blank">Procurar Usuários em Twitter<a/></li>
                                
                                <li>Participar nos canais da <a href="http://freenode.net/" target="_blank" rel="nofollow">IRC FreeNode:</a> <a href="http://webchat.freenode.net/?channels=litecoin" target="_blank" rel="nofollow">#litecoin</a> (para usuários em geral) y <a href="http://webchat.freenode.net/?channels=litecoin-dev" target="_blank" rel="nofollow">#litecoin-dev</a> (para desenvolvedores).</li>
                            </ul>
                        </h2>
                    <% } else if(locale == 'zh_HANS') { %>
                        <h1>社区</h1>
                        <h2>
                            您可以从很多日益壮大的Litecoin社区中寻求技术支持，例如：
                            <ul>
                                <li><a href="https://litecointalk.org/" target="_blank">Litecoin论坛</a></li>
                                <li><a href="http://www.reddit.com/r/litecoin" target="_blank">Litecoin交易社区</a></li>
                                <li><a href="https://twitter.com/search?q=litecoin%20-bitcoin&src=typd" target="_blank">搜索Twitter上的用户</a></li>

                                <li>加入<a href="http://freenode.net/" target="_blank" rel="nofollow">IRC FreeNode</a>网络频道<a href="http://webchat.freenode.net/?channels=litecoin" target="_blank" rel="nofollow">#litecoin</a>(面向普通用户)，<a href="http://webchat.freenode.net/?channels=litecoin-dev" target="_blank" rel="nofollow">#litecoin-dev</a>(面向开发者)</li>
                            </ul>
                        </h2>
                    <% } else if(locale == 'zh_HANT') { %>
                        <h1>社區</h1>
                        <h2>
                            您可以從很多日益壯大的Litecoin社區中尋求技術支援，例如：
                            <ul>
                                <li><a href="https://litecointalk.org/" target="_blank">Litecoin論壇</a></li>
                                <li><a href="http://www.reddit.com/r/litecoin" target="_blank">Litecoin交易社區</a></li>
                                <li><a href="https://twitter.com/search?q=litecoin%20-bitcoin&src=typd" target="_blank">搜索Twitter上的用戶</a></li>
                                <li>加入<a href="http://freenode.net/" target="_blank" rel="nofollow">IRC FreeNode</a>網路頻道<a href="http://webchat.freenode.net/?channels=litecoin" target="_blank" rel="nofollow">#litecoin</a>(面向普通用戶)，<a href="http://webchat.freenode.net/?channels=litecoin-dev" target="_blank" rel="nofollow">#litecoin-dev</a>(面向開發者)</li>
                            </ul>
                        </h2>
                    <% } else if(locale == 'it') { %>
                        <h1>Comunità</h1>
                        <h2>
                            Esiste una serie di comunità Litecoin in crescita  dove potete trovare assistenza. Potete visitare:
                            <ul>
                                <li><a href="https://litecointalk.org/" target="_blank">I Forum di Litecoin</a></li>
                                <li><a href="http://www.reddit.com/r/litecoin" target="_blank">La Comunità Reddit di Litecoin</a></li>
                                <li><a href="https://twitter.com/search?q=litecoin%20-bitcoin&src=typd" target="_blank">•   Cerca Utenti su Twitter</a></li>
                                <li>Iscrivetevi al canale della rete IRC <a href="http://freenode.net/" target="_blank" rel="nofollow">FreeNode</a> <a href="http://webchat.freenode.net/?channels=litecoin" target="_blank" rel="nofollow">#litecoin</a> (per utenti in generale) e <a href="http://webchat.freenode.net/?channels=litecoin-dev" target="_blank" rel="nofollow">#litecoin-dev</a> (per sviluppatori).</li>
                            </ul>
                        </h2>
                    <% } else if(locale == 'ru') { %>
                        <h1>Сообщества</h1>
                        <h2>                            
                            Следующие соовщества Litecoin, где вы можете найти ответы на любые вопросы:
                            <ul>
                                <li><a href="https://litecointalk.org/" target="_blank">Форумы Litecoin</a></li>
                                <li><a href="http://www.reddit.com/r/litecoin" target="_blank">Сообщество Litecoin Reddit</a></li>
                                <li><a href="https://twitter.com/search?q=litecoin%20-bitcoin&src=typd" target="_blank">Поиск пользователей на Twitter</a></li>
                                <li>Присоединяйтесь к сети <a href="http://freenode.net/" target="_blank" rel="nofollow">IRC FreeNode</a>, канал <a href="http://webchat.freenode.net/?channels=litecoin" target="_blank" rel="nofollow">#litecoin</a> (для общих пользователей) и <a href="http://webchat.freenode.net/?channels=litecoin-dev" target="_blank" rel="nofollow">#litecoin-dev</a> (для разработчиков).</li>
                            </ul>
                        </h2>
                    <% } else if(locale == 'de') { %>
                        <h1>Community</h1> 
                        <h2>Mehr Informationen und Hilfe findet man in einer der Litecoin Communities:
                            <ul> 
                                <li><a href="https://litecointalk.org//" target="_blank">Litecoin Forums</a></li> 
                                <li><a href="http://www.reddit.com/r/litecoin" target="_blank">Reddit Litecoin</a></li> 
                                <li><a href="https://twitter.com/search?q=litecoin%20-bitcoin&amp;src=typd" target="_blank">Suche nach Usern auf Twitter</a><a></a></li><a> 
                                </a><li><a>Trete </a><a href="http://freenode.net/" target="_blank" rel="nofollow">IRC FreeNode Netword</a> bei, <a href="http://webchat.freenode.net/?channels=litecoin" target="_blank" rel="nofollow">#litecoin</a> (für normale User) und <a href="http://webchat.freenode.net/?channels=litecoin-dev" target="_blank" rel="nofollow">#litecoin-dev</a> (für Entwickler).</li> 
                            </ul> 
                        </h2> 
                    <% } else if(locale == 'nl') { %>
                        <h1>Community</h1> 
                        <h2>Vind ondersteuning binnen een groeiend aantal Litecoin communty’s
                            <ul> 
                                <li><a href="https://litecointalk.org//" target="_blank">Litecoin Forums</a></li> 
                                <li><a href="http://www.reddit.com/r/litecoin" target="_blank">Reddit Litecoin</a></li> 
                                <li><a href="https://twitter.com/search?q=litecoin%20-bitcoin&amp;src=typd" target="_blank">Zoek naar gebruikers op Twitter</a><a></a></li><a> 
                                </a>
                                <li>IRC FreeNode network channels <a href="http://webchat.freenode.net/?channels=litecoin" target="_blank" rel="nofollow">#litecoin</a> (voor algemene gebruikers) and <a href="http://webchat.freenode.net/?channels=litecoin-dev" target="_blank" rel="nofollow">#litecoin-dev</a> (voor ontwikkelaars).</li>
                            </ul> 
                        </h2>
						<% } else if(locale == 'pl') { %>
                        <h1>Społeczność</h1>
                        <h2>Skorzystaj z pomocy rozwijających się społeczności Litecoin:
                            <ul>
                                <li><a href="https://litecointalk.org/" target="_blank">Forum Litecoin</a></li>
                                <li><a href="http://www.reddit.com/r/litecoin" target="_blank">Litecoin na Reddicie</a></li>
                                <li><a href="https://twitter.com/search?q=litecoin%20-bitcoin&src=typd" target="_blank">Szukaj użytkowników Twittera<a/></li>
                                <li>Kanały sieci IRC FreeNode <a href="http://webchat.freenode.net/?channels=litecoin" target="_blank" rel="nofollow">#litecoin</a> (dla wszystkich) i <a href="http://webchat.freenode.net/?channels=litecoin-dev" target="_blank" rel="nofollow">#litecoin-dev</a> (dla twórców).</li>
                            </ul>
                        </h2>
                     <% } else if(locale == 'el') { %>
                        <h1>Κοινότητα</h1>
                        <h2>Βρείτε υποστήριξη σε έναν συνεχώς αυξανόμενο αριθμό κοινοτήτων για το Litecoin:
                            <ul>
                                <li><a href="https://litecointalk.org/" target="_blank">Επίσημο Litecoin Φόρουμ</a></li>
                                <li><a href="http://www.reddit.com/r/litecoin" target="_blank">Litecoin στο Reddit</a></li>
                                <li><a href="https://twitter.com/search?q=litecoin%20-bitcoin&src=typd" target="_blank">Αναζήτηση για χρήστες στο Twitter<a/></li>
                                <li>IRC FreeNode δικτυακά κανάλια <a href="http://webchat.freenode.net/?channels=litecoin" target="_blank" rel="nofollow">#litecoin</a> (για απλούς χρήστες) και <a href="http://webchat.freenode.net/?channels=litecoin-dev" target="_blank" rel="nofollow">#litecoin-dev</a> (για developers).</li>
                            </ul>
                        </h2>                    
                    <% } else if(locale == 'ja') { %>
                        <h1>コミュニティ</h1>
                        <h2>
                            サポートを提供しているLitecoinコミュニティは多数存在します。次のサイトを訪問してみてください：
                            <ul>
                                <li><a href="https://litecointalk.org/" target="_blank">Litecoinフォーラム</a></li>
                                <li><a href="http://www.reddit.com/r/litecoin" target="_blank">Litecoin Redditコミュニティ</a></li>
                                <li><a href="https://twitter.com/search?q=litecoin%20-bitcoin&src=typd" target="_blank">Twitterでユーザーを検索<a/></li>
                                <li>IRC FreeNode ネットワークチャンネルに参加 <a href="http://webchat.freenode.net/?channels=litecoin" target="_blank" rel="nofollow">#litecoin</a> （一般ユーザー向け）・ <a href="http://webchat.freenode.net/?channels=litecoin-dev" target="_blank" rel="nofollow">#litecoin-dev</a>（開発者向け）</li>                                
                            </ul>
                        </h2>
                    <% } else if(locale == '') { %>
                        <h1></h1>
                        <h2>
                        </h2>
                    <% } %>
                </div>
                <div class="second-column">
                    <span class="icon"><img src="images/icons/resources.png" alt=""/></span>
                    <% if(locale == 'en') { %>
                        <h1>Resources</h1>
                        <h2>
                            Find general information as well as a list of services and exchanges that support Litecoin at the <a href="http://litecoin.info" target="_blank">Litecoin Wiki</a>.
                            <p/>
                            Up-to-date network statistics can be found at <a href="http://ltc.block-explorer.com/charts" target="_blank">Litecoin Block Explorer Charts</a>.
                            <p/>
                            Source code for Litecoin-Qt and related projects are available on <a href="https://github.com/litecoin-project" target="_blank">GitHub</a>.
                        </h2>
                    <% } else if(locale == 'fr') { %>
                        <h1>Ressources</h1>
                        <h2>
                            Des informations générales ainsi qu'une liste des sites et des bourses (marchés) acceptant Litecoin sont disponibles dans le site collaboratif <a href="http://litecoin.info" target="_blank">(wiki) de Litecoin</a>.
                            <p/>
                            Des statistiques actualisées du réseau Litecoin sont affichées à <a href="http://ltc.block-explorer.com/charts" target="_blank">LiteCoin Block Explorer Charts</a>.
                            <p/>
                            Le code source de Litecoin et des projets similaires sont disponibles sur <a href="https://github.com/litecoin-project" target="_blank">GitHub.com/litecoin-project</a>.
                        </h2>
                    <% } else if(locale == 'es') { %>
                        <h1>Recursos</h1>
                        <h2>
                            Usted puede acceder a información general, lista de páginas y lista de intercambios respaldados por Litecoin en: <a href="http://litecoin.info" target="_blank">Litecoin Wiki</a>.
                            <p/>
                            Las estadísticas actualizadas de la red pueden encontrarse en: <a href="http://ltc.block-explorer.com/charts" target="_blank">Gráficos de Exploradores de Bloques Litecoin</a>.
                            <p/>
                            Los códigos fuente y otros proyectos relacionados se encuentran disponibles en: <a href="https://github.com/litecoin-project" target="_blank">GitHub.com/litecoin-project</a>.
                        </h2>
                    <% } else if(locale == 'pt') { %>
                        <h1>Recursos</h1>
                        <h2>
                            Você pode acessar as informações gerais, lista de sítios, e lista de câmbio, suportadas por Litecoin em: <a href="http://litecoin.info" target="_blank">Litecoin Wiki</a>.
                            <p/>
                            As estatísticas atualizadas da rede podem ser encontradas em: <a href="http://ltc.block-explorer.com/charts" target="_blank">Gráficos de Explorador de Blocos Litecoin</a>.
                            <p/>
                            Os códigos fonte Litecoin e outros projetos relacionados encontram-se disponíveis em: <a href="https://github.com/litecoin-project" target="_blank">GitHub.com/litecoin-project</a>.
                        </h2>
                    <% } else if(locale == 'zh_HANS') { %>
                        <h1>资源</h1>
                        <h2>
                            查看<a href="http://litecoin.info" target="_blank">Litecoin维基</a>，可以获取Litecoin的相关信息，以及查看所有支持Litecoin的网站列表以及交易市场。
                            <p/>
                            查看<a href="http://ltc.block-explorer.com/charts" target="_blank">Litecoin交易图表</a>，获取最新的网上交易数据。
                            <p/>
                            访问<a href="https://github.com/litecoin-project" target="_blank">GitHub.com/litecoin-project</a>，获取Litecoin的源代码及相关项目。
                        </h2>
                    <% } else if(locale == 'zh_HANT') { %>
                        <h1>資源</h1>
                        <h2>
                            查看<a href="http://litecoin.info" target="_blank">Litecoin維琪</a>，可以獲取Litecoin的相關資訊，以及查看所有支援Litecoin的網站清單以及交易市場。
                            <p/>
                            查看<a href="http://ltc.block-explorer.com/charts" target="_blank">Litecoin交易圖表</a>，獲取最新的網上交易資料。
                            <p/>
                            訪問<a href="https://github.com/litecoin-project" target="_blank">GitHub.com/litecoin-project</a>，獲取Litecoin的原始程式碼及相關項目。
                        </h2>
                    <% } else if(locale == 'it') { %>
                        <h1>Risorse</h1>
                        <h2>
                            Informazioni di carattere generale, elenchi di siti e di servizi che supportano Litecoin si possono trovare sul <a href="http://litecoin.info" target="_blank">Litecoin Wiki</a>.
                            <p/>
                            Statistiche di rete aggiornate si possono trovare nei grafici del <a href="http://ltc.block-explorer.com/charts" target="_blank">Block Explorer Litecoin</a>.
                            <p/>
                            Il codice sorgente di Litecoin ed altri progetti collegati sono disponibili su <a href="https://github.com/litecoin-project" target="_blank">GitHub.com/litecoin-project</a>.

                        </h2>
                    <% } else if(locale == 'ru') { %>
                        <h1>Ресурсы</h1>
                        <h2>
                            Общую информацию, перечень сайтов и бирж, которые поддерживают Litecoin, можно найти на <a href="http://litecoin.info" target="_blank">Litecoin Wiki</a>.
                            <p/>
                            Сетевая статистика регулярно обновляется на <a href="http://ltc.block-explorer.com/charts" target="_blank">Litecoin Block Explorer Charts</a>.
                            <p/>
                            Исходный код Litecoin и связанные с ним проекты доступны на <a href="https://github.com/litecoin-project" target="_blank">GitHub.com/litecoin-project</a>.
                        </h2>
                    <% } else if(locale == 'de') { %>
                        <h1>Ressourcen</h1> 
                        <h2> 
                            Grundlegende Informationen, Auflistungen von Seiten und Listen mit Devisen die mit Litecoin kompatibel sind finden Sie im <a href="http://litecoin.info" target="_blank">Litecoin Wiki</a>.              
                            <p/> 
                            Ständig aktuelle Netzwerkstatistiken finden Sie hier: <a href="http://ltc.block-explorer.com/charts" target="_blank">Litecoin Statistik</a>. 
                            <p/>
                            Der Litecoin Source Code und damit verbundene Projekte sind unter <a href="https://github.com/litecoin-project" target="_blank">GitHub.com/litecoin-project</a> abrufbar.
                        </h2>
                    <% } else if(locale == 'nl') { %>
                        <h1>Hulpmiddelen</h1> 
                        <h2> 
                            Vind algemene informatie zowel als een lijst van diensten en beurzen op de <a href="http://litecoin.info" target="_blank">Litecoin Wiki</a>.
                            <p/> 
                            Up-to-date netwerkstatistieken kunnen gevonden worden op: <a href="http://ltc.block-explorer.com/charts" target="_blank">Litecoin Block Explorer Charts</a>. 
                            <p/>
                            Broncode voor Litecoin-QT aan aanverwante projecten is te vinden op <a href="https://github.com/litecoin-project" target="_blank">GitHub</a>.
                        </h2>
                    <% } else if(locale == 'pl') { %>
                        <h1>Zasoby</h1>
                        <h2>
                            Ogólne informacje oraz listę usługodawców używających Litecoin znajdziesz na <a href="http://litecoin.info" target="_blank">Litecoin Wiki</a>.
                            <p/>
                            Aktualne statystyki sieci można przeglądać pod adresem <a href="http://ltc.block-explorer.com/charts" target="_blank">Litecoin Block Explorer Charts</a>.
                            <p/>
                            Kody źródłowe Litecoin-Qt oraz powiązanych projektów są dostępne w&nbsp;serwisie <a href="https://github.com/litecoin-project" target="_blank">GitHub</a>.
                        </h2>
                    <% } else if(locale == 'el') { %>
                        <h1>Πηγές</h1>
                        <h2>
                            Βρείτε γενικές πληροφορίες, καθώς επίσης και μία λίστα υπηρεσιών και ανταλλακτηρίων που υποστηρίζουν το Litecoin στο <a href="http://litecoin.info" target="_blank">Litecoin Wiki</a>.
                            <p/>
                            Ενημερωμένα στατιστικά δικτύου μπορούν να βρεθούν στο <a href="http://ltc.block-explorer.com/charts" target="_blank">Litecoin Block Explorer Charts</a>.
                            <p/>
                            Ο πηγαίος κώδικας για το Litecoin-Qt και σχετικά projects είναι διαθέσιμος στο <a href="https://github.com/litecoin-project" target="_blank">GitHub</a>.
                        </h2>
                    <% } else if(locale == 'ja') { %>
                        <h1>リソース</h1>
                        <h2>
                            一般情報、Litecoinをサポートしているサイトと取引所のリストは、<a href="http://litecoin.info" target="_blank">Litecoin Wiki</a>で見つけることができます。
                            <p/>
                            最新のネットワーク統計は、<a href="http://ltc.block-explorer.com/charts" target="_blank">Litecoinブロックエクスプローラーチャート</a>で見ることができます。
                            <p/>
                            <a href="https://github.com/litecoin-project" target="_blank">GitHub.com</a>またはLitecoinプロジェクトで、Litecoinのソースコードと関連プロジェクトを見ることができます。
                        </h2>
                    <% } else if(locale == '') { %>
                        <h1></h1>
                        <h2>
                        </h2>
                    <% } %>
                </div>
                <div class="third-column">
                    <span class="icon"><img src="images/icons/opensource.png" alt=""/></span>
                    <% if(locale == 'en') { %>
                        <h1>Free, open-source software</h1>
                        <h2>
                            Litecoin is a free software project released under the MIT/X11 license which gives you the power to run, modify, and copy the software and to distribute, at your option, modified copies of the software. The software is released in a transparent process that allows for independent verification of binaries and their corresponding source code.
                        </h2>
                    <% } else if(locale == 'fr') { %>
                        <h1>Logiciel Gratuit et Open Source</h1>
                        <h2>
                            Litecoin est un projet open source gratuit distribué sous la licence MIT/X11 qui vous autorise à exécuter, modifier et copier le logiciel ainsi qu'à en distribuer des copies modifiées. Le logiciel est distribué de manière transparente permettant une vérification indépendante des fichiers exécutables et de leurs codes sources.
                        </h2>
                    <% } else if(locale == 'es') { %>
                        <h1>Software Libre Opensource</h1>
                        <h2>
                            Litecoin es un proyecto de software libre publicado bajo la licencia MIT/X11 que otorga la posibilidad de ejecutar, modificar, copiar, y distribuir el software, a discreción, en copias modificadas del mismo. El software es lanzado en un proceso transparente que permite la verificación independiente de binarios y su correspondiente código fuente.
                        </h2>
                    <% } else if(locale == 'pt') { %>
                        <h1>Software Livre Opensource</h1>
                        <h2>
                            Litecoin é um projeto de software livre lançado sob a licença MIT/X11 que lhe oferece a liberdade de executar, modificar, copiar e distribuir o software, consoante o usuário, em cópias modificadas. O software é lançado num processo transparente que permite a verificação independente de binários e seu código fonte correspondente.
                        </h2>
                    <% } else if(locale == 'zh_HANS') { %>
                        <h1>免费开源软件</h1>
                        <h2>
                            Litecoin是一款在MIT/X11许可下发布的免费软件项目，它让您能够根据自己的需要对软件进行运行、修改和复制。如果你愿意，你也可以发行软件的修改版本。
                            <p/>
                            该软件以完全透明的形式发布，用户可以对二进制版本以及对应源代码进行独立验证。
                        </h2>
                    <% } else if(locale == 'zh_HANT') { %>
                        <h1>免費開源軟體</h1>
                        <h2>
                            Litecoin是一款在MIT/X11許可下發佈的免費軟體專案，它讓您能夠根據自己的需要對軟體進行運行、修改和複製。如果你願意，你也可以發行軟體的修改版本。
                            <p/>
                            該軟體以完全透明的形式發佈，使用者可以對二進位版本以及對應原始程式碼進行獨立驗證。
                        </h2>
                    <% } else if(locale == 'it') { %>
                        <h1>Software Gratuito Opensource</h1>
                        <h2>
                            Litecoin è un progetto nell'ambito del software libero rilasciato ai sensi della licenza MIT/X11, la quale vi fornisce la facoltà di eseguire, modificare e copiare il software e di distribuire, a vostra scelta, copie modificate del software. Il software è rilasciato con una procedura improntata alla trasparenza che permette verifiche indipendenti dei binari e del codice sorgente corrispondente.
                        </h2>
                    <% } else if(locale == 'ru') { %>
                        <h1>Open Source проект</h1>
                        <h2>
                            Litecoin это бесплатный проект, на Open Source, выпущенный согласно лицензии MIT/X11, которая дает вам право копировать, изменять и распространять это программное обеспечение. Прозрачность выпуска новых версий позволяет осуществлять независимую проверку бинарных модулей и соответствующего исходного кода.
                        </h2>
                    <% } else if(locale == 'de') { %>
                        <h1>Open Source Software</h1> 
                        <h2>
                            Litecoin ist ein unter der MIT/X11 Lizenz laufendes Open Source Software Projekt. Das ermöglicht Ihnen die Software zu verwenden, sie zu verändern, zu kopieren oder veränderte Versionen der Software zu verbreiten. Der Release-Prozess der Software ist transparent und ermöglicht es, sowohl die Binärdateien als auch den Source Code einzusehen. 
                        </h2> 
                    <% } else if(locale == 'nl') { %>
                        <h1>Gratis open-source software</h1> 
                        <h2>
                            Litecoin is een gratis software project uitgebracht onder de MIT/X11 licentie die gebruikers de toestemming geeft de software te draaien, aan te passen, te kopiëren en optioneel ook aangepaste kopieën van de software uit te geven. De software is uitgebracht op een transparante manier die toestaat de binaries en hun daarmee corresponderende codes onafhankelijk te verifiëren. 
                        </h2> 
                    <% } else if(locale == 'pl') { %>
                        <h1>Darmowe oprogramowanie</h1>
                        <h2>Litecoin jest projektem całkowicie darmowym, opubli&shy;kowanym na licencji MIT/X11 która daje możliwość urucha&shy;miania, zmieniania, kopio&shy;wania i&nbsp;dystry&shy;bucji zmodyfi&shy;kowanych kopii oprogra&shy;mowania według uznania. Oprogra&shy;mowanie jest wydawane w&nbsp;przejrzysty sposób umo&shy;żli&shy;wiający niezależną wery&shy;fi&shy;kację plików i odpo&shy;wia&shy;da&shy;jącego im kodu źród&shy;ło&shy;wego.
                        </h2>
                    <% } else if(locale == 'el') { %>
                        <h1>Ελεύθερο Λογισμικό Ανοικτού Κώδικα</h1> 
                        <h2>
                            Το Litecoin αποτελεί λογισμικό ανοικτού κώδικα και υπάγεται στην άδεια MIT/X11, η οποία επιτρέπει την εκτέλεση, τροποποίηση, αντιγραφή του λογισμικού και διανομή του, κατ'επιλογή σου. Το λογισμικό κυκλοφορεί με μία διαφανή διαδικασία που επιτρέπει την ανεξάρτητη πιστοποίηση των δυαδικών (binary) αρχείων και τον αντίστοιχο πηγαίο κώδικα.
                        </h2>
                    <% } else if(locale == 'ja') { %>
                        <h1>フリーオープンソースソフトウェア</h1>
                        <h2>
                            LitecoinはMIT/X11ライセンスの下で公開されているフリーソフトウェアです。ライセンスによって、ソフトウェアの実行、修正、複製およびユーザーオプションで修正されたソフトウェアの複製を配布することができます。バイナリと対応するソースコードを独立検証できる透明なプロセスを通じてソフトウェアは配布されます。
                        </h2>
                    <% } else if(locale == '') { %>
                        <h1></h1>
                        <h2>
                        </h2>
                    <% } %>
                </div>
            </div>
            <div class="features">
                <div class="first-column">
                    <span class="icon"><img src="images/icons/blockchain.png" alt=""/></span>
                    <% if(locale == 'en') { %>
                        <h1>Blockchain</h1>
                        <h2>
                            The Litecoin blockchain is capable of handling higher transaction volume than its counterpart - Bitcoin. Due to more frequent block generation, the network supports more transactions without a need to modify the software in the future. <p/>As a result, merchants get faster confirmation times, while still having ability to wait for more confirmations when selling bigger ticket items.
                        </h2>
                    <% } else if(locale == 'fr') { %>
                        <h1>Blockchain</h1>
                        <h2>
                            Le blockchain Litecoin est capable de gérer un plus grand volume de transactions que son homologue Bitcoin. Grâce à une génération de blocs plus fréquente, le réseau permet plus de transactions sans avoir à modifier le logiciel.
                            <p/>
                            Par conséquent, les marchands ont des délais de confirmation plus courts, et ils peuvent choisir d'attendre plus longtemps pour plus de confirmations avant de livrer les produits plus chers.
                        </h2>
                    <% } else if(locale == 'es') { %>
                        <h1>Cadena de Bloques</h1>
                        <h2>
                            La cadena de bloques de Litecoin es capaz de administrar un mayor volumen de transacciones que su homólogo - Bitcoin. Debido a que la generación de bloques se realiza de manera más frecuente, la red sustenta más transacciones sin la necesidad de modificar el software en el futuro.
                            <p/>
                            Como resultado, los comerciantes obtienen confirmaciones de manera más rápida, y al mismo tiempo tienen la posibilidad de esperar más confirmaciones al vender artículos más costosos.
                        </h2>
                    <% } else if(locale == 'pt') { %>
                        <h1>Corrente de Blocos ou Block-chain</h1>
                        <h2>
                            A Corrente de Blocos da Litecoin é capaz de lidar com um volume maior de transações do que o seu homólogo - Bitcoin. Graças à geração mais frequente de blocos, a rede suporta mais transações sem ter que modificar o software no futuro.
                            <p/>
                            Em consequência, os comerciantes obtêm confirmações mais rápidas, enquanto ainda têm a capacidade de esperar por mais confirmações ao vender itens mais custosos.
                        </h2>
                    <% } else if(locale == 'zh_HANS') { %>
                        <h1>数据块链</h1>
                        <h2>
                            Litecoin块链与其竞争对手——比特币比起来，能够处理更大的交易量。由于数据块的生成更加频繁，该网络可以支持更多的交易，并且无需在将来修改软件。
                            <p/>
                            因此，商家可以获得更快的交易确认，而且在销售大额商品时依然能够等待更多的交易确认。
                        </h2>
                    <% } else if(locale == 'zh_HANT') { %>
                        <h1>資料塊鏈</h1>
                        <h2>
                            Litecoin塊鏈與其競爭對手——比特幣比起來，能夠處理更大的交易量。由於資料塊的生成更加頻繁，該網路可以支援更多的交易，並且無需在將來修改軟體。
                            <p/>
                            因此，商家可以獲得更快的交易確認，而且在銷售大額商品時依然能夠等待更多的交易確認。
                        </h2>
                    <% } else if(locale == 'it') { %>
                        <h1>Catena di blocchi</h1>
                        <h2>
                            La Catena di blocchi di Litecoin è in grado di gestire volumi di transazioni superiori rispetto alla sua controparte - Bitcoin. A causa della più frequente generazione dei blocchi, la rete è in grado di supportare un numero maggiore di transazioni senza che il software debba essere modificato in futuro.
                            <p/>
                            Ne deriva che i commercianti ottengono tempi di conferma più rapidi, mentre conservano la possibilità di aspettare altre conferme, quando vendono articoli a prezzo più alto.
                        </h2>
                    <% } else if(locale == 'ru') { %>
                        <h1>Цепочка Блоков</h1>
                        <h2>
                            Цепочка блоков Litecoin способна обрабатывать более высокий объем транзакций, чем ее аналог – Bitcoin. Благодаря более частой генерации блоков, сеть способна поддерживать больший объем транзакций без необходимости каких либо изменений в программном обеспечении.
                        </h2>
                    <% } else if(locale == 'de') { %>
                        <h1>Blockchain</h1> 
                        <h2>
                            Die Litecoin Blockchain verfügt über ein höhres maximales Transaktionsvolumen verglichen mit Bitcoin. Das häufigere erstellen von Blöcken ermöglicht mehr Transaktionen ohne die Software in Zukunft verändern zu müssen.
                            <p/>
                            Die benötigte Zeit um Händlern Bestätigungen zu übermitteln wird dadurch kürzer, die Möglichkeit auf mehr Bestätigungen zu warten um Tickets gebündelt zu verkaufen bleibt jedoch bestehen.  
                        </h2> 
                    <% } else if(locale == 'nl') { %>
                        <h1>Blokketen</h1> 
                        <h2>
                            De Litecoin blokketen heeft de mogelijkheid een hoger volume aan transacties te ondersteunen dan zijn tegenhanger – Bitcoin. Door een frequentere aanmaak van blokken, kan het netwerk meer transacties verdragen zonder de noodzaak om de software in de toekomst aan te passen.
                            <p/>
                            Bijgevolg krijgen handelaars snellere bevestigingstijden, terwijl ze nog altijd de mogelijkheid hebben om op meer bevestigingen te wachten wanneer zij duurdere producten verkopen.  
                        </h2> 
                    <% } else if(locale == 'pl') { %>
                        <h1>Blockchain</h1>
                        <h2>
							Litecoin radzi sobie z&nbsp;większą liczbą tran&shy;sa&shy;kcji niż jego konku&shy;rent - Bitcoin. Dzięki częstszemu genero&shy;waniu bloku sieć może utrzymać większą liczbę transakcji bez modyfikacji oprogramowania w przyszłości. <p/>Dzięki temu kupcy otrzymują szybsze potwierdzenia i wciąż mają możliwość oczekiwania na większą ilość potwierdzeń w przypadku większych transakcji.
                        </h2>
                     <% } else if(locale == 'el') { %>
                        <h1>Blockchain</h1>
                        <h2>
                            H αλυσίδα των μπλοκ του Litecoin χειρίζεται υψηλότερο όγκο συναλλαγών σε σχέση με το αντίστοιχό του νόμισμα, το Bitcoin. Εξαιτίας της συχνότερης δημιουργίας των μπλοκ, το δίκτυο υποστηρίζει περισσότερες συναλλαγές, χωρίς να υπάρχει ανάγκη τροποποίησης του λογισμικού στο μέλλον. <p/>Σαν αποτέλεσμα, οι έμποροι αποκτούν βεβαιώσεις των συναλλαγών σε συντομότερο χρονικό διάστημα, ενώ ταυτόχρονα έχουν τη δυνατότητα να αναμένουν για περισσότερες επιβεβαιώσεις όταν πουλούν αντικείμενα με μεγαλύτερη περίοδο ισχύως.
                        </h2>                        
                    <% } else if(locale == 'ja') { %>
                        <h1>Blockchain</h1>
                        <h2>
                            Litecoin blockchainは、類似サービスのBitcoinより多くのトランザクションを取り扱うことができます。より頻繁にブロックが生成されるため、ソフトウェアを将来的に改良する必要なく、ネットワークは多くのトランザクションに対応することができます。
                            <p/>
                            その結果、売買人も素早く認証を得ることができます。ただし金額の大きな商品を販売するときは、依然多くの認証を待たなければなりません。
                        </h2>
                    <% } else if(locale == '') { %>
                        <h1></h1>
                        <h2>
                        </h2>
                    <% } %>
                </div>

                <div class="second-column">
                    <span class="icon"><img src="images/icons/lock.png" alt=""/></span>
                    <% if(locale == 'en') { %>
                        <h1>Wallet Encryption</h1>
                        <h2>
                            Wallet encryption allows you to secure your wallet, so that you can view transactions and your account balance, but are required to enter your password before spending litecoins. <p/>This provides protection from wallet-stealing viruses and trojans as well as a sanity check before sending payments.
                        </h2>
                    <% } else if(locale == 'fr') { %>
                        <h1>Cryptage du Portefeuille</h1>
                        <h2>
                            Le cryptage du portefeuille vous permet de sécuriser vos clés privés dans le portefeuille, en vous autorisant à suivre les transactions et le solde de votre compte mais en exigeant un mot de passe pour pouvoir dépenser vos litecoins.
                            <p/>
                            Cela sert à vous protéger contre les virus et chevaux de Troie, mais c'est aussi utile comme étape de vérification supplémentaire avant de procéder au paiement.
                        </h2>
                    <% } else if(locale == 'es') { %>
                        <h1>Cifrado de la Cartera Electrónica</h2>
                        <h2>
                            El cifrado de la cartera electrónica permite asegurar las claves privadas en la cartera, para que usted pueda ver las transacciones y su saldo de cuenta, pero se solicita el ingreso de contraseña antes de utilizar sus litecoins.
                            <p/>
                            Esto es útil no solo como protección ante los virus y troyanos, sino también como una comprobación de seguridad antes de enviar un pago.
                        </h2>
                    <% } else if(locale == 'pt') { %>
                        <h1>Codificação da Carteira</h2>
                        <h2>
                            A codificação da carteira permite que você possa segurar suas chaves privadas na carteira, e assim poderá visualizar as transações e seu saldo de conta, mas é obrigatório inserir sua senha antes de gastar suas litecoins.
                            <p/>
                            Isso serve não apenas como proteção para vírus e troianos, mas também como um controle de conformidade antes de enviar os pagamentos.
                        </h2>
                    <% } else if(locale == 'zh_HANS') { %>
                        <h1>钱包加密</h1>
                        <h2>
                            钱包加密能够保证您钱包中私钥的安全，从而让您可以查看交易情况及账户余额，但是您在使用litecoin之前必须输入密码。
                            <p/>
                            该功能不仅能够防止病毒及木马的侵扰，同时还是付款前的一项有效的合法性检查。
                        </h2>
                    <% } else if(locale == 'zh_HANT') { %>
                        <h1>錢包加密</h1>
                        <h2>
                            錢包加密能夠保證您錢包中私密金鑰的安全，從而讓您可以查看交易情況及帳戶餘額，但是您在使用litecoin之前必須輸入密碼。
                            <p/>
                            該功能不僅能夠防止病毒及木馬的侵擾，同時還是付款前的一項有效的合法性檢查。
                        </h2>
                    <% } else if(locale == 'it') { %>
                        <h1>Cifratura del Portafoglio</h1>
                        <h2>
                            La Cifratura del Portafoglio vi permette di proteggere le vostre chiavi private, in modo tale da avere sempre la possibilità di visualizzare le transazioni e il saldo del vostro conto, mentre vi verrà richiesto di inserire la vostra password prima di poter spendere i vostri litecoin.
                            <p/>
                            Questo serve non solo come misura di protezione contro i virus e i cavalli di troia, ma anche come un controllo di sicurezza prima che inviate dei pagamenti.
                        </h2>
                    <% } else if(locale == 'ru') { %>
                        <h1>Шифрование Кошелька</h1>
                        <h2>
                            Шифрование Кошелька позволяет вам обезопасить ваши секретные ключи в кошельке. При включенном шифровании кошелек требует ввода пароля при совершении платежа.  Сумма, находящаяся в кошельке, а также список всех предыдущих платежей доступны для просмотра без ввода пароля даже при включенном шифровании.
                            <p/>
                            Шифрование служит защитой от вирусов и троянов.
                        </h2>
                    <% } else if(locale == 'de') { %>
                        <h1>Verschlüsselung</h1> 
                        <h2>
                            Die Verschlüsselung des "Wallets" ermöglicht es Ihnen dort ihre privaten Schlüssel aufzubewahren, wodurch Sie alle Translaktionen auf Ihrem Konto in der Kontoübersicht einsehen können. Für das Ausgeben von Litecoins ist jedoch die Eingabe des Passworts nötig.
                            <p/>
                            Dieser Schritt dient nicht nur der Vorbeugung von Angriffen durch Viren oder Trojaner, sondern soll den Vorgang des Bezahlens auch zu einem bewusst getätigtem Schritt machen.
                         </h2>
                    <% } else if(locale == 'nl') { %>
                        <h1>Portemonnee Encryptie</h1> 
                        <h2>
                            Encryptie van de portemonnee geeft je de mogelijkheid je portemonnee te beveiligen. Op die manier kan je transacties en rekeningsaldo altijd onmiddellijk bekijken, maar heb je een paswoord nodig hebt vooraleer je litecoins kan uitgeven.
                            <p/>
                            Dit biedt bescherming tegen portemonnee-stelende virussen en trojans , en zorgt daarnaast ook voor een extra veiligheidscontrole voordat je een betaling verzendt.
                         </h2>
                    <% } else if(locale == 'pl') { %>
                        <h1>Szyfrowanie portfela</h1>
                        <h2>
                            Szyfrowanie pozwala zabezpieczyć portfel, by nikt nie mógł sprawdzić transakcji i stanu Twojego konta. Wymagane jest wprowadzenie hasła przed próbą wydania litecoinów. <p/>Ten mechanizm zabezpiecza portfel przed kradzieżą, wirusami i złośliwym oprogramowaniem oraz zapewnia możliwość sprawdzenia poprawności przed dokonaniem transakcji.
                        </h2>
                    <% } else if(locale == 'el') { %>
                        <h1>Κρυπτογράφηση Πορτοφολιού</h1>
                        <h2>
                            Με την κρυπτογράφηση του πορτοφολιού διασφαλίζετε το πορτοφόλι σας, έτσι ώστε να μπορείτε να δείτε τις συναλλαγές και το υπόλοιπό σας, αλλά για να ξοδεύσετε τα litecoins σας θα απαιτείται η είσοδος ενός κωδικού που ορίζετε εσείς. <p/>Αυτό σας προστατεύει από ιούς που στοχεύουν στο να κλέψουν το πορτοφόλι σας, από trojans, και γενικότερα λειτουργεί σαν ένας επιπρόσθετος έλεγχος ασφάλειας πριν την κάθε πληρωμή.
                        </h2>
                    <% } else if(locale == 'ja') { %>
                        <h1>ウォレットの暗号化</h1>
                        <h2>
                            ウォレットの暗号化によって、ウォレットのプライベートキーの安全性を確保し、取引やアカウント残高を確認することができます。Litecoinを使用する前にパスワードの入力が必要となります。
                            <p/>
                            この認証によって、ウイルスやスパムから保護できるだけでなく、支払い実行前に安全性を確認することができます。
                        </h2>
                    <% } else if(locale == '') { %>
                        <h1></h1>
                        <h2>
                        </h2>
                    <% } %>
                </div>
                <div class="third-column">
                    <span class="icon"><img src="images/icons/rewards.png" alt=""/></span>
                    <% if(locale == 'en') { %>
                        <h1>Mining Reward</h1>
                        <h2>
                            Miners are currently awarded with 50 new litecoins per block, an amount which gets halved roughly every 4 years (every 840,000 blocks). 
                            <p/>
                            The Litecoin network is therefore scheduled to produce 84 million litecoins, which is 4 times as many currency units as Bitcoin.
                        </h2>
                    <% } else if(locale == 'fr') { %>
                        <h1>Récompense de Minage</h1>
                        <h2>
                            Les mineurs sont au départ récompensés de 50 coins par bloc. Le nombre de coins générés est divisé par deux tous les 4 ans (840,000 blocs). 
                            <p/>
                            Le réseau Litecoin devrait donc produire environ 4 fois plus d'unités que Bitcoin, soit environ 84 millions de litecoins
                        </h2>
                    <% } else if(locale == 'es') { %>
                        <h1>Recompensa</h1>
                        <h2>
                            Los mineros inicialmente pueden generar 50 monedas por bloque. La cantidad de monedas generadas se ve reducida a la mitad cada 4 años (840,000 bloques).
                            <p/>
                            Por lo tanto, la red Litecoin está programada para producir aproximadamente 4 veces más unidades monetarias que Bitcoin, o cerca de 84 millones de litecoins.
                        </h2>
                    <% } else if(locale == 'pt') { %>
                        <h1>Recompensa</h1>
                        <h2>
                            Os mineiros inicialmente gerarão 50 moedas por bloco. A quantidade de moedas geradas fica reduzida à metade a cada 4 anos (840.000 blocos).
                            <p/>
                            Portanto, a rede Litecoin é projetada para produzir cerca de 4 vezes o número de unidades do que Bitcoin, ou cerca de 84 milhões de litecoins.
                        </h2>
                    <% } else if(locale == 'zh_HANS') { %>
                        <h1>奖励</h1>
                        <h2>
                            “矿工们”起初每数据块可以产出50个币。每4年，生产的货币量将减少一半(840000个数据块)。
                            <p/>
                            因此，Litecoin网络生产的货币总量将大约是比特币的4倍，即8400万个litecoin。
                        </h2>
                    <% } else if(locale == 'zh_HANT') { %>
                        <h1>獎勵</h1>
                        <h2>
                            “礦工們”起初每資料塊可以產出50個幣。每4年，生產的貨幣量將減少一半(840000個資料塊)。
                            <p/>
                            因此，Litecoin網路生產的貨幣總量將大約是比特幣的4倍，即8400萬個litecoin。
                        </h2>
                    <% } else if(locale == 'it') { %>
                        <h1>Ricompensa</h1>
                        <h2>
                            I miner all'inizio genereranno 50 monete per blocco. La quantità di monete generate viene dimezzata ogni 4 anni (840.000 blocchi).
                            <p/>
                            Pertanto, la rete Litecoin è programmata per produrre approssimativamente il quadruplo di unità rispetto a Bitcoin, ovvero circa 84 milioni di litecoin.
                        </h2>
                    <% } else if(locale == 'ru') { %>
                        <h1>Вознаграждение</h1>
                        <h2>
                            За каждый сгенерированный блок майнеры получают фиксированное вознаграждение. Это вознаграждение является единственным источником эмиссии новых монет.
                            <p/>
                            Первоначально, при старте проекта, майнеры получают 50 новых монет за каждый сгенерированный блок. Сумма вознаграждения уменьшается вдвое каждые 4 года (840 000 блоков). 

                            <!-- Таким образом, максимальное количество монет Litecoin составляет приблизительно 84 миллиона.-->
                        </h2>
                    <% } else if(locale == 'de') { %>
                        <h1>Vergütung</h1> 
                        <h2>
                            Anfänglich werden pro erwirtschaftetem Block 50 litecoins generiert. Die Menge an generierten litecoins halbiert sich alle 4 Jahre (840000 Blöcke).
                            <p/> 
                            Alles in allem werden dadurch 4 mal mehr litecoins als bitcoins generiert (gesamt 84 Millionen Litecoins).
                        </h2> 
                    <% } else if(locale == 'nl') { %>
                        <h1>Mining beloning</h1> 
                        <h2>
                            Miners worden momenteel beloond met 50 nieuwe litecoins per blok, een bedrag dat ruwweg om de vier jaar gehalveerd wordt (elke 840.000 blokken).
                            <p/> 
                            Het is hierdoor gepland dat het Litecoin netwerk 84 miljoen litecoins zal produceren, wat vier keer zoveel valutaeenheden als Bitcoin is.
                        </h2> 
                    <% } else if(locale == 'pl') { %>
                        <h1>Nagrody za wydobycie</h1>
                        <h2>
                            Nagroda za wydobycie wynosi aktualnie 50 jednostek za blok i będzie się zmniejszać o połowę co 4 lata (co 840,000 bloków). 
                            <p/>
                            Zaplanowane jest wyprodukowanie 84 milionów litecoinów, czyli 4 razy więcej jednostek niż w przypadku waluty Bitcoin.
                        </h2>
                    <% } else if(locale == 'el') { %>
                        <h1>Αμοιβή Εξόρυξης</h1>
                        <h2>
                            Οι συμμετέχοντες στην διαδικασία της εξόρυξης νομισμάτων (miners) προς το παρόν αμοίβονται με 50 νέα litecoins ανά μπλοκ, ένα ποσό που μειώνεται στο μισό σχεδόν κάθε 4 έτη (κάθε 840,000 μπλοκ). 
                            <p/>
                            Το δίκτυο του Litecoin είναι ως εκ τούτου προσχεδιασμένο να παράγει 84 εκατομμύρια litecoins, ένα σύνολο 4 φορές μεγαλύτερο από το αντίστοιχο του Bitcoin.
                        </h2>
                    <% } else if(locale == 'ja') { %>
                        <h1>リワード</h1>
                        <h2>
                            採掘はブロックごとに50コインを生成します。コインの総量は4年ごとに半減します（840,000ブロック）。
                            <p/>
                            したがって、Litecoinネットワークは、Bitcoinのおおよそ4倍の量の通貨、約840万Litecoinを生成する予定です。
                        </h2>
                    <% } else if(locale == '') { %>
                        <h1></h1>
                        <h2>
                        </h2>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="features fullwidth">
            <% if(locale == 'en') { %>
                You can contact Litecoin project development team at <a href="mailto:contact@litecoin.org" target="_blank">contact@litecoin.org</a>.
            <% } else if(locale == 'fr') { %>
                Vous pouvez contacter l'équipe de développement de Litecoin à <a href="mailto:contact@litecoin.org" target="_blank">contact@litecoin.org</a>.
            <% } else if(locale == 'es') { %>
                Usted puede contactarse con el equipo de desarrollo Litecoin en: <a href="mailto:contact@litecoin.org" target="_blank">contact@litecoin.org</a>.
            <% } else if(locale == 'pt') { %>
                Você pode entrar em contato com a equipe de desenvolvimento da Litecoin em: <a href="mailto:contact@litecoin.org" target="_blank">contact@litecoin.org</a>.
            <% } else if(locale == 'zh_HANS') { %>
                您可以通过<a href="mailto:contact@litecoin.org" target="_blank">contact@litecoin.org</a>联系Litecoin的开发团队。
            <% } else if(locale == 'zh_HANT') { %>
                您可以通過<a href="mailto:contact@litecoin.org" target="_blank">contact@litecoin.org</a>聯繫Litecoin的開發團隊。
            <% } else if(locale == 'it') { %>
                Potete contattare il team degli sviluppatori di Litecoin all'indirizzo di posta elettronica <a href="mailto:contact@litecoin.org" target="_blank">contact@litecoin.org</a>.
            <% } else if(locale == 'ru') { %>
                Вы можете связаться с разработчиками проекта Litecoin по электронной почте: <a href="mailto:contact@litecoin.org" target="_blank">contact@litecoin.org</a>.
            <% } else if(locale == 'de') { %>
                Für Presseanfragen wenden Sie sich bitte an das Litecoin Entwicklungsteam (<a href="mailto:contact@litecoin.org" target="_blank">contact@litecoin.org</a> bzw.).
            <% } else if(locale == 'nl') { %>
                Je kan het Litecoin projectontwikkelingsteam bereiken op <a href="mailto:contact@litecoin.org" target="_blank">contact@litecoin.org</a>.
            <% } else if(locale == 'pl') { %>
                Z zespołem deweloperów projektu Litecoina możesz się kontaktować pod adresem <a href="mailto:contact@litecoin.org" target="_blank">contact@litecoin.org</a>.
            <% } else if(locale == 'el') { %>
                Μπορείτε να επικοινωνήσετε με την ομάδα ανάπτυξης του Litecoin στο <a href="mailto:contact@litecoin.org" target="_blank">contact@litecoin.org</a>.          
            <% } else if(locale == 'ja') { %>
                Litecoin開発チームへのお問い合わせは <a href="mailto:contact@litecoin.org" target="_blank">contact@litecoin.org</a>。
            <% } else if(locale == '') { %>
            <% } %>

        </div>
        
        <div id="left">
            <div id="screen">
                <div>
                    <img src="images/linux-main.png" class="screen-0 screenshot" alt=""/>
                </div>
                <div>
                    <img src="images/linux-main.png" class="screen-1 screenshot" style="opacity: 0.0;" alt=""/>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div id="footer">
        <div class="wrapper">
            <div class="alignleft"><%= _copyright[locale] %></div><div class="alignright"></div>
            <div class="alignright"></div>
        </div>
    </div>
</body>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40424732-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</html>
